@import "../../../../../../../models/style/main.scss";

.Business {
  animation: fade .5s ease-in-out;

  & .Links {
    width: 40%;
    margin-top: 15px;
    & .Link {
      display: flex;
      justify-content: center;
      &:not(:first-child){
        margin-top: 20px;
      }

      & input {
        border: none;
        border-bottom: 1px solid #d9d9d9;
        color: #837e7e;
        font-family: inherit;
        box-sizing: border-box;
        font-size: 0.8rem;
        font-weight: 400;
        transition: all 0.3s linear 0s;

        &:focus {
          color: $text-body;
          border-bottom: 1px solid $purple-register;
          outline: none;

        }
      }
    }

  }

}
  .Buttons {
    display: flex;
    justify-content: space-around;
  }


  @keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}