@import "../../style/main.scss";

.Options {
  & .Title {
    margin: 0;
    font-size: $small-size;
    text-align: right;
  }

  & .Select {
    position: relative;
    display: flex;
    height: 30px;
    line-height: 3;
    background: $white;
    border: 1px solid $text-hint;
    border-radius: 5px;
    overflow: hidden;
    font-family: inherit;
    font-size: 1rem;
    color: $text-body;
    cursor: pointer;

    &::-ms-expand {
      display: none;
    }

    &:focus {
      border-color: $purple;
      outline: none;
    }

    &:hover {
      border-color: $purple;
    }

    & option {
      &:checked {
        background: rgba($color: $purple, $alpha: .7);
        color: $white;
      }
    }
  }
}
