@import "../../../../../../../../../models/style/main.scss";

.PhoneValidation {
  text-align: center;

  & .Buttons {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 50%;
  }
}
