@import "../../../../../../../models/style/main.scss";

.Times {
  & .Body {
    & .Days {
      display: flex;
      justify-content: space-around;
      & .Day {
        & .Checkbox {
          display: none;
          &:checked + label::before {
            background-color: $purple-register;
            border-color: $background-menu;
            color: #fff;
            text-align: center;
          }

          &:disabled + label::before {
            transform: scale(1);
            border-color: #aaa;
          }

          &:checked:disabled + label::before {
            transform: scale(1);
            background-color: #bfb;
            border-color: #bfb;
          }
        }

        & label {
          display: block;
          cursor: pointer;

          &::before {
            content: "\2714";
            border: 1px solid #000;
            border-radius: 0.2em;
            display: inline-block;
            width: 16px;
            height: 16px;
            padding-left: 0.2em;
            padding-bottom: 0.3em;
            vertical-align: bottom;
            color: transparent;
            transition: 0.2s;
          }

          &:active::before {
            transform: scale(0);
          }
        }
      }
    }

    & .Hours {
      & select {
        position: relative;
        display: flex;
        width: 40%;
        height: 45px;
        line-height: 3;
        background: $text-hint;
        overflow: hidden;
        border-radius: 0.25em;
        font-size: inherit;
        font-family: inherit;

        &::-ms-expand {
          display: none;
        }


      }

      & .Hour {
          display: flex;
          justify-content: space-between;
      }
    }
  }
}

.Title {
  color: $text-body;
  text-align: right !important;
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 7px;
  padding-top: 12px;
}
