@import "../../../../models/style/main.scss";


.Menu {
  height: 100vh;
  width: 15vw;
  position: fixed;
  display: block;
  background-color: $background-menu;
  overflow-y: auto;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  
  @include respond(phone) {
    width: 90vw;
  }

  & .Logo {
    text-align: left;
    margin-left: 10px;
    background: linear-gradient(
      to right top,
      #7467ef,
      #7467ef,
      #7467ef,
      #7467ef,
      #7467ef
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.6rem;
  }

  & .User {
    margin-right: 25px;
    color: $white;
    font-size: 1.2rem;
    font-weight: 100;
  }

  & hr {
    color: $white;
    width: 100%;
    border-bottom: 5px;
    padding: 0;
    margin: 0;
  }

  & .Items {
    margin-top: 20px;
    cursor: pointer;

    & .MenuItem {
      display: block;
      text-decoration: none;
      color: $white;
      padding: 15px;
      border-right: 5px solid transparent;
      transition: all 0.3s ease-in-out;

      & .Text {
        display: flex;
        align-items: center;

        & span {
          margin-right: 15px;
        }

        & .ArrowIcon {
          align-self: center;
          margin-right: 50%;
          transition: all 0.5s ease-in-out;
        }
      }

      &:hover {
        background: rgba($color: $white, $alpha: 0.01);
        border-right: 5px solid $orange;
      }

    }


    & .Current {
      border-right: 5px solid $orange;
      background: rgba($color: $orange, $alpha: 0.01);
    }

    & .Dropdown {
      transition: height .5s ease-in-out;
    }
  }
}

///// Mobile Menu Button //////
.ButtonForMobile {
  z-index: 2;
  
  & .Checkbox {
    display: none;
  }

  & .Navigation_button {
    position: fixed;
    margin-top: 2%;
    margin-right: 2%;
    border-radius: 50%;
    z-index: 2;
    text-align: center !important;
    cursor: pointer;

    @include respond(phone) {
      margin-top: 8%;
      margin-right: 6%;
    }
  }

  & .Checkbox:checked ~ &_background {
    transform: scale(80);
  }

  & .Icon {
    position: relative;

    &:hover {
      transform: scaleY(1.1);
    }

    &,
    &::before,
    &::after {
      width: 1.5rem;
      height: 0.2rem;
      background-color: $background-menu;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.5rem;
    }

    &::after {
      top: 0.5rem;
    }
  }

  & .Checkbox:checked ~ .Navigation_button .Icon {
    background-color: transparent;
  }

  & .Checkbox:checked ~ .Navigation_button .Icon::before {
    transform: rotate(45deg);
    top: 0;
    background-color: $white;
  }

  & .Checkbox:checked ~ .Navigation_button .Icon::after {
    top: 0;
    transform: rotate(-45deg);
    background-color: $white;
  }
}
