// Colors
$purple: #7467ef;
$white: #fafafa;
$orange: #ff9e43;
$background-menu: #222A45;
$text-hint: rgba(52, 49, 76, 0.38);
$text-body: rgba(52, 49, 76, 1);
$error: #f44336;


// Sizes
$small-size: .6rem;
$medium-size: 1.2rem;
$big-size: 1.5rem;