@import "../../../../../../models/style/main.scss";

.NewQueue {
  & select {
    width: 300px;
  }

  & .Buttons {
    width: 300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
}


